* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color: grey;
}
.formulario{
    background-color:   red;
    max-width: 468px;
    width: auto;
    border-radius: 5px;
    font-size: auto;
    margin: 30px auto;
    padding: 30px;
    color: rgb(0, 0, 0);
    border-radius: 20px; 
    text-align: center;
    font-size: 150%;
    display: grid;
    grid-template-columns: 1fr;
}
input{
    margin: 2%;
    padding-top: 5%;
    text-align: center;
    font-size: medium;
}
label{
    padding: 5px;
}
body h1 {
    text-align: center;
}
#btn {
     margin-top: 15px;
     padding: 3%;
     background-color: white;


}
section {
    font-size: xx-large;
    border: 2px black solid;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2% ;
}
#title{
    align-items: center;
}
#container {
    text-align: center;
}